
@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css);

html{overflow:scorll;}

html, body, div, h1, h2, a, form, table, caption, thead, tbody, tr, th, td, submit {
	margin:0; outline:0; border:0; padding:0; font-size:100%; vertical-align:baseline; background:burlywood;
}
body { 
	font-size:0.875em; line-height:1.5; color:rgb(148, 104, 46); -webkit-text-size-adjust:none; min-width:320px;
	font-family:'NanumGothic','나눔고딕',dotum, "Helvetica Neue", Helvetica, Verdana, Arial, Sans-Serief;
}
h1, h2, h3 {font-size: 1.5em;}
p{margin:0; padding:0;}
ul{margin:0;}
a:link, a:visited {text-decoration:none; color: #656565;}
input{vertical-align:middle;}
input:focus {outline:0;}
caption {display:none; width:0; height:0; margin-top:-1px; overflow:hidden; visibility:hidden; font-size:0; line-height:0;margin-right: 0; margin-left:auto}

/* .container {max-width:1024px; margin:30px auto;} */
.board_list {width:70%; border-top:2px solid #252525; border-bottom:1px solid #ccc; margin:15px 0; border-collapse: collapse;margin-right: 0; margin-left:auto}
.board_list thead th:first-child {background-image:none;}
.board_list thead th {border-bottom:1px solid #ccc; padding:13px 0; color:#3b3a3a; text-align: center; vertical-align:middle;}
/* .board_list tbody td {border-top:1px solid #ccc; padding:13px 0; text-align:center; vertical-align:middle;} */
.board_list tbody tr:first-child td {border:none;}
.board_list tbody tr:hover{background:burlywood;} 
.board_list tbody td.title {text-align:left; padding-left:20px;}
.board_list tbody td a {display:inline-block}

.board_detail {width:70%; border-top:2px solid #252525; border-bottom:1px solid #ccc; border-collapse:collapse; margin-right: 0; margin-left:auto;}
.board_detail tbody input {width:100%;}
.board_detail tbody th {text-align:left; background:#f7f7f7; color:#3b3a3a; vertical-align:middle; text-align: center;}
.board_detail tbody th, .board_detail tbody td {padding:10px 15px; border-bottom:1px solid #ccc;}
.board_detail tbody textarea {width:100%; min-height:170px}

.btn {margin-left: 450px; color:rgb(0, 0, 0) !important; display:inline-block; background-color:#8a919b; vertical-align:middle; border-radius:0 !important; cursor:pointer; border-color:black;}
.btn:hover {background: #6b9ab8;}
.btnn{margin:5px; padding:5px 11px; color:rgb(0, 0, 0) !important; display:inline-block; background-color:#8a919b; vertical-align:middle; border-radius:0 !important; cursor:pointer; border-color:black;}

.file_list a {display:inherit !important;}
.pos{
	position: relative;
	margin-left: 30%;
}
/* 여기서 부터 */
/* 
폰트 추가시 필요
.nanum{
    font-family:'Nanum Gothio' . sans-serif;
} */
/* navbar bottomline */

nav.sidebar{
	width: 250px;
	left : 0;
	background: #1b1b1b;
	position:fixed;
	top: 0;
}
.sidebar .text{
	color:white;
	font-size: 25px;
	font-weight: 600;
	line-height: 65px;
	text-align: center;
	background: #1e1e1e;
	letter-spacing: 1px; 
}
nav ul{
	background:gray;
	height:100%;
	width:100%;
	list-style:none;
}

nav ul li{
	line-height: 60px;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}
nav ul li a{
	position:relative;
	color: white;
	text-decoration: none;
	font-size: 18px;
	padding-left: 40px;
	font-weight: 500;
	display: block;
	width: 100%;
	border-left: 3px solid transparent;
}
nav ul li a:hover{
	color:cyan;
	background: #1e1e1e;
	border-left-color: cyan;
}

nav ul ul{
	position: static;
	display: none;
}
nav ul ul li{
	line-height: 42px;
	border-bottom:none; 
}
nav ul ul li a{
	font-size: 17px;
	color: #e6e6e6;
	padding-left: 80px;
}

nav ul ul li a span{
	position:absolute;
	top: 50%;
	right:20px;
	transform: translateY(-50%);
	font-size: 22px;
	transition: transform 0.4s;
}
nav ul .feat-show.show{
	display:block;
}

/* bootstrap button */
.dropdown-menu{
	width:70%
}